@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xl {
    font-size: 1rem !important ;
    line-height: 1.75rem !important ;
}

.font-size {
    font-size: 0.9rem !important ;
}